<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title layout:fragment="titulo">Inscripción a curso</title>
    <link rel="stylesheet" th:href="@{/css/inscripcion.css}">
</head>

<body>
    <section layout:fragment="contenido" class="container py-5 mt-5 mb-5">
        <form th:action="@{/inscripciones/guardar}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div class="inscripcion-card">
                <h2>Registrar Inscripción</h2>
                <input type="hidden" name="idEstudiante" th:value="${idEstudiante}">
                <label>Curso</label>
                <select name="idCurso" required>
                    <option value="" th:if="${idCurso == null}">Seleccione un curso</option>
                    <option th:each="curso : ${listaCursos}" th:value="${curso.id}" th:text="${curso.nombre}"
                        th:selected="${idCurso == curso.id or #lists.size(listaCursos) == 1}">
                    </option>
                </select>
                <button type="submit" class="mt-3">Guardar Inscripción</button>
            </div>
        </form>
    </section>
</body>

</html>
