<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es"
    layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title layout:fragment="titulo">Reporte estadístico</title>
</head>

<body>
    <section layout:fragment="contenido" class="container-fluid py-5 mt-5 mb-5">
        <h2 class="mb-4">Reporte Estadístico</h2>
        <a th:href="@{/reportes/estadistico/pdf}" target="_blank" class="btn btn-primary">
            Ver PDF
        </a>
    </section>
</body>

</html>
